<article class="tile is-child is-3">
  <div class="card player-card has-background-primary	">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://via.placeholder.com/96">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= @user_info.username %></p>
          <p class="subtitle is-6"><%= @user_info.bnet %></p>
        </div>
      </div>

      <div class="content">
        Plays
        <span class="has-text-weight-bold is-captilized"><%= @user_info.pref_role %></span>
        then
        <span class="has-text-weight-bold is-captilized"><%= @user_info.other_role %></span>.
      </div>
      <footer class="card-footer">
        <i class="fas fa-shield-alt"></i>
        <p class="card-footer-item has-text-weight-bold">
          <%= @user_info.tank %>SR</p>
        <i class="fas fa-user-ninja"></i>
        <p class="card-footer-item has-text-weight-bold">
          <%= @user_info.damage %>SR</p>
        <i class="fas fa-heartbeat"></i>
        <p class="card-footer-item has-text-weight-bold">
          <%= @user_info.support %>SR</p>
      </footer>
    </div>
  </div>
</article>
